/* Headings */
.headings {
    text-align: center;
}
.general {
    padding-bottom: 2.2rem;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.2rem;
}

/* Score area */
#score-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.score {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    }

/* Timer area */
#timer {
    padding: 1rem 0 1rem 0;    
}

#timer-bar {
    width: 25.5rem;
    height: 1rem;    
    border: 0.1rem solid rgb(70, 68, 68);
    border-radius: 0.5rem;
}

#timer-progress {
    height: 1rem;
    background: linear-gradient(to right, red, yellow, green);
    border-radius: 0.5rem;
    margin-top: -1rem;
}

/* Question area */
/* Question img */
#question-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#question-image img {
    width: 15rem;
    height: 10rem;
    border: 0.1rem solid rgb(70, 68, 68);
    box-shadow: 0.2rem 0.2rem;
    border-radius: 0.5rem;
}

/* Answers choices*/
#answers-choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Next button */
#next-btn {
    width: 10rem;
    height: 5rem;    
}