/* This is stylesheets for the menu page */
/* 1rem will be equal to 10px */
:root {
    font-size: 62.5%;
    background-color: rgba(194, 224,233, 0322);
}
/* Remove the default proprties */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(70, 68, 68);
    margin: 0;
    padding: 0;
}

/* Background image */
body {
    background-image: url(../images/game-bg.png);
    background-size: 170% 100%;
    background-position: center;
    background-repeat: no-repeat;   
}


/* Hedings */
.heading {
    font-size: 2rem;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
}

/* Typwriter effect */
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Center the content */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

/* Create link buttons from a tags */
.btn {
    font-size: 1.5rem;
    padding: 1rem;
    width: 20rem;
    text-decoration: none;
    text-align: center;
    border: 0.1rem solid rgb(70, 68, 68);
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

/* Change the color of the button when hovered */
.btn:hover {
    background-color: rgb(135, 207, 235, 0.63);
    cursor: pointer;
   
}

/* Change the color of the button when clicked */
.btn:active {
    background-color: rgb(135, 207, 235, 0.63);
    transform: translateY(0.2rem);
    box-shadow: none;
}

/* Change the color of the button when focused */
.btn:focus {
    outline: none;
    background-color: rgb(135, 207, 235, 0.63);
}

/* Center menu  */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



