/* This is stylesheets for the menu page */
/* Remove the default proprties */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(70, 68, 68);
    margin: 0;
    padding: 0;
}
