/* This is stylesheets for the menu page */
/* 1rem will be equal to 10px */
:root {
    font-size: 62.5%;
    background-color: rgba(194, 224,233, 0322);
}
/* Remove the default proprties */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(70, 68, 68);
    margin: 0;
    padding: 0;
}
